:root {
	--body-color: #EDEBF7;
	--second-color: #7a6bc5;
	--third-color: #ffffff; 
	--box-radius: 10px;
}

body {
	font-family: 'Roboto';
	margin-left: 10px;
}

.container-about-began {
display: block;
margin-top: 60px;
height: 420px;
width: 100%;
background: var(--body-color);
border-radius: var(--box-radius);

}

.container-project {
	background: var(--second-color);
	color: white;
	text-align: center;
	padding: 10px 10px;
	font-size: 16px;
	border-radius: var(--box-radius);	
}

.container-button {
	margin-top: 40px;
}

.button1 {
	padding: 10px;
	background: var(--third-color) !important;
	color: var(--second-color);
	text-align: center;
	border-radius: var(--box-radius);
	width: 200px;
}

.button2 {
	padding: 10px;
	background: var(--third-color) !important;
	color: var(--second-color);
	text-align: center;
	border-radius: var(--box-radius);
	width: 200px;
	margin-left: 20px;

}

.button3 {
	padding: 10px;
	background: var(--third-color) !important;
	text-align: center;
	border-radius: var(--box-radius);
	width: 200px;
	margin-left: 20px;
		
}

.button-contact {
  text-decoration: none;
  color: var(--second-color);
}

.myFoto {
	margin-top: 10px;
	margin-left: 10px;
	width: 400px;
	border-radius: var(--box-radius);

}

.name {
	color: var(--second-color);
	margin-top: 20px;
}

.front-end {
	opacity: 0.6;
}

#name-full {
   font-weight: bold;
}

.hello {
	padding: 30px 30px;
}


.container-cosial {
	margin-top: 80px;
	color: var(--second-color);	
	font-size: 30px;
	margin-bottom: 85px;
}

.cosial {
	font-size: 24px;
	color: var(--second-color);
}

.all-about-text {
	margin-top: 40px;
	padding-left: 160px;
	padding-right: 60px;
}

.text-about {
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
}

.button-next-text {
	margin-left: 0px;
}

.fotoAbout {
	border-radius: 20px;
	margin-top: 20px;
	max-width: 550px;
	margin-right: 40px;

}

@media (max-width: 1200px ) {

	.all-about-text {
		margin-left: -60px;
		margin-right: 20px;
	}

	.button-next-text {
		margin-left: 0px;
	}

	.fotoAbout {
		max-width: 450px;
	}
	
}



@media (max-width: 768px) {
	
	.container-button {
		margin-top: 10px;
	}
	.button3,
	.button1,
	.button2 {
		width: 100px;
		margin-top: 20px;
	}

	.button-link:hover {
		text-decoration: none;
		color: var(--second-color);
	}

	.myFoto {
        max-width: auto;
		height: auto;
		margin-top: 40px;
  		vertical-align: middle;

	}

	.hello {
		margin-right: -20px;
	}
}

@media (max-width: 650px) {

	.myFoto {
		margin-left: 45px;
	}
	
}

@media (max-width: 576px) {

	.button3,
	.button1,
	.button2 {
		width: 100px;
		margin-top: 20px;
	}

	.button-link:hover {
	text-decoration: none;
	color: var(--second-color);
}
	
	.myFoto {
		max-width: auto;
		height: auto;		
		margin-top: -30px;
	}

	.container-button {
		margin-top: 0px;
	}
	
	.container-about-began {
		height: 100%;
		margin-top: 20px;
	}

	.fotoAbout {
		max-width: 100%;
	}

	.name, .front-end, .text-about {

		text-align: center;

	}

	.name, .front-end, .text-about {

		text-align: center;

	}

	.button-next-text {
		margin-top: 20px;

	}
	

}
